body{
    padding: 0;
    margin: 0;
}


a{
    text-decoration: none;
    color: #ef7998;;
}

.icons{
    height: 1rem;
    
}

button{
    background: transparent;
	color: inherit;
	border: none;
	padding: 0 0.5rem;
    margin: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border: 0.1rem solid;
    border-radius: 0.25rem;
}

nav{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0.5rem 1.5rem;
}

.nav-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

button:hover{
    background-color: #ef7998;;
    color: white;
}

.home{
    background-image: url(images/home-background.jpeg);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.welcome-home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: yellow transparent;
}

.about{
    width: 60vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.about-left-part{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 48px auto;
    padding: 0 15px;
}

#lorem-ipsum-text{
    width: 75%;
    font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
text-align: left;
}

.about-right-part{
    width: 50%;
    height: fit-content;
    border: 0.5rem solid #f9e494;
    margin: 48px auto;
}







/* [1] The container */
.img-hover-zoom {
    height: 300px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform 1s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }