body {
  padding: 0;
  margin: 0;
  font-family: KaushanScript-Regular;
}

@font-face {
  font-family: KaushanScript-Regular;
  src: url(fonts/KaushanScript-Regular.ttf);
}

a {
  text-decoration: none;
  color: #ef7998;
  font-size: 1.5rem;
  margin-right: 0.25rem;
}

a:hover {
  color: black;
  transition: color 0.5s ease;
}

.icons {
  height: 1rem;
}

button {
  background: transparent;
  color: inherit;
  border: none;
  padding: 0.5rem;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border: 0.1rem solid;
  border-radius: 0.25rem;
  width: fit-content;
}

nav {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0.5rem 1.5rem;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.buy-button:hover {
  background-color: #ef7998;
  color: white;
  border: none;
}

.buttons:hover {
  background-color: black;
  color: #ef7998;
  border: none;
}

.home {
  background-image: url(images/home-background.jpeg);
  background-attachment: fixed;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  /* min-height: calc(100vh - 76px); */
}

.welcome-home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(244, 232, 194);
  opacity: 0.5;
}

.about {
  display: flex;
  align-items: center;
  width: 60vw;
  height: 50%;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.about-left-part {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 48px auto;
  padding: 0 15px;
}

#lorem-ipsum-text {
  width: 89% !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  min-width: 400px;
}

.pink-text {
  color: #ef7998;
  font-size: 2.5rem;
}

.about-right-part {
  position: relative;
  width: 50%;
  height: fit-content;
  /* border: 0.5rem solid #f9e494; */
  margin: 48px auto;
}

.about-right-part > img {
  height: 100%;
  width: 100%;
  display: block;
}

.about-right-part::before {
  top: -1.5rem;
  left: -1.7rem;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  outline: 0.5rem solid rgb(249, 228, 148);
  z-index: -1;
  transition: all 1s ease-in-out;
}

.about-right-part:hover::before {
  top: 0;
  left: 0;
}

#section3 {
  background-color: rgb(238, 238, 238);
}

.our-store {
  text-align: center;
  width: 60vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  background-color: rgb(238, 238, 238);
}

.store-menu-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

form {
  margin: auto;
  border: 1px solid #eee;
  display: flex;
  width: fit-content;
  height: 1rem;
  line-height: 1rem;
}

form > i {
  background-color: #ef7998;
  padding: 4px;
  height: 100%;
  border-radius: 0.1rem 0 0 0.1rem;
}

input {
  margin: 0;
  padding: 0 0.25rem;
  border: none;
  height: 24px;
  width: 30vw;
  border-radius: 0 0.1rem 0.1rem 0;
}
input:focus {
  border: none;
  outline: none;
}

#grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

.grid-item {
  /* width: 20vw; */
  height: auto;
  border-radius: 0.1rem;
}

.sweet-item-price {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.card {
  background-color: white;
  width: 20vw;
}

.card-shopping-icon {
  position: absolute;
  bottom: -5%;
}

/* [1] The container */
.hovering-image {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  width: auto;
  height: 15vw;
  position: relative;
}

.hovering-image > img {
  height: 100%;
  width: 100%;
}

/* [2] Transition property for smooth transformation of images */
.hovering-image img {
  transition: transform 1s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.hovering-image:hover img {
  height: min-content;
  transform: scale(1.25);
}
.hovering-image:hover .card-shopping-icon {
  padding: 0.75rem;
  border-radius: 0.5rem 0 0 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgb(249, 228, 148);
  transition: all 0.5s ease-in-out;
  transform: translate(0, 0);
}

.dropdown-content {
  display: none;
  position: absolute;
  grid-template-rows: auto;
  gap: 0.5rem;
  background-color: #f9f9f9;
  max-width: 240px;
  max-height: 266px;
  z-index: 1;
  right: 0;
  top: 4.75rem;
  padding: 0.75rem 1rem;
  background: rgba(255, 255, 255, 0.5);
}

#nav-bar {
  position: relative;
}

.dropdownItem{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  align-items: center;
}
 
.dropdownItem img {
  border-radius: 50% !important;
  width: 50px;
  height: 50px;
}

.delete-icon:hover{
  cursor: pointer;
}

.total-price{
  display: flex;
  gap: 1rem;
  justify-content: center;
}